{
  "swagger": "2.0",
  "info": {
    "version": "2020-03-09-preview",
    "title": "CdnLogAnalytics",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "cdnloganalyticsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsMetrics": {
      "get": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_GetLogAnalyticsMetrics",
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "metrics",
            "type": "array",
            "required": true,
            "in": "query",
            "items": {
              "type": "string",
              "enum": [
                "clientRequestCount",
                "clientRequestTraffic",
                "clientRequestBandwidth",
                "originRequestTraffic",
                "originRequestBandwidth"
              ]
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "type": "array",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "applicationProtocol",
                "cacheHitMiss",
                "httpStatusCode"
              ]
            }
          },
          {
            "name": "dateTimeBegin",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "dateTimeEnd",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "granularity",
            "type": "string",
            "in": "query",
            "required": true,
            "enum": [
              "PT5M",
              "PT1H",
              "P1D"
            ]
          },
          {
            "name": "continents",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "africa",
                "antarctica",
                "asia",
                "australia",
                "europe",
                "northAmerica",
                "southAmerica"
              ]
            }
          },
          {
            "name": "countryOrRegions",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "endpoints",
            "type": "array",
            "required": false,
            "in": "query",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "customDomains",
            "type": "array",
            "required": false,
            "in": "query",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/MetricsResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsRankings": {
      "get": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_GetLogAnalyticsRankings",
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "rankings",
            "type": "array",
            "in": "query",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "url",
                "referrer",
                "countryOrRegions"
              ]
            }
          },
          {
            "name": "metrics",
            "type": "array",
            "in": "query",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "clientRequestCount",
                "clientRequestTraffic",
                "clientRequestBandwidth",
                "originRequestTraffic",
                "originRequestBandwidth"
              ]
            }
          },
          {
            "name": "maxRanking",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "dateTimeBegin",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "dateTimeEnd",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "endpoints",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "customDomains",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/RankingsResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsLocations": {
      "get": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_GetLogAnalyticsLocations",
        "x-ms-examples": {
          "LogAnalytics_GetLogAnalyticsLocations": {
            "$ref": "./examples/LogAnalytics_GetLogAnalyticsLocations.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ContinentsResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsResources": {
      "get": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_GetLogAnalyticsResources",
        "x-ms-examples": {
          "LogAnalytics_GetLogAnalyticsResources": {
            "$ref": "./examples/LogAnalytics_GetLogAnalyticsResources.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourcesResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getWafLogAnalyticsMetrics": {
      "get": {
        "tags": [
          "WafLogAnalytics"
        ],
        "operationId": "LogAnalytics_GetWafLogAnalyticsMetrics",
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "metrics",
            "type": "array",
            "in": "query",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "requestCount"
              ]
            }
          },
          {
            "name": "dateTimeBegin",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "dateTimeEnd",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "granularity",
            "type": "string",
            "in": "query",
            "required": true,
            "enum": [
              "PT5M",
              "PT1H",
              "P1D"
            ]
          },
          {
            "name": "endpoints",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "allow",
                "block",
                "log",
                "redirect"
              ]
            }
          },
          {
            "name": "ruleTypes",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "managed",
                "custom"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/WafMetricsResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getWafLogAnalyticsRankings": {
      "get": {
        "tags": [
          "WafLogAnalytics"
        ],
        "operationId": "LogAnalytics_GetWafLogAnalyticsRankings",
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/profileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "metrics",
            "type": "array",
            "in": "query",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "requestCount"
              ]
            }
          },
          {
            "name": "dateTimeBegin",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "dateTimeEnd",
            "type": "string",
            "in": "query",
            "required": true,
            "format": "date-time"
          },
          {
            "name": "maxRanking",
            "in": "query",
            "required": true,
            "type": "number"
          },
          {
            "name": "groupBy",
            "type": "array",
            "in": "query",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "action",
                "ruleGroup",
                "ruleId",
                "userAgent",
                "clientIp",
                "url",
                "country",
                "ruleType"
              ]
            }
          },
          {
            "name": "endpoints",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "allow",
                "block",
                "log",
                "redirect"
              ]
            }
          },
          {
            "name": "ruleTypes",
            "type": "array",
            "in": "query",
            "required": false,
            "items": {
              "type": "string",
              "enum": [
                "managed",
                "custom"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/WafRankingsResponse"
            }
          },
          "default": {
            "description": "CDN Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MetricsResponse": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "granularity": {
          "type": "string",
          "enum": [
            "PT5M",
            "PT1H",
            "P1D"
          ]
        },
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "metric": {
                "type": "string"
              },
              "unit": {
                "type": "string",
                "enum": [
                  "count",
                  "bytes",
                  "bitsPerSecond"
                ]
              },
              "groups": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "value": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "RankingsResponse": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ranking": {
                "type": "string"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "string"
                          },
                          "value": {
                            "type": "integer"
                          },
                          "percentage": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ContinentsResponse": {
      "description": "",
      "properties": {
        "continents": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        },
        "countryOrRegions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "continentId": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ResourcesResponse": {
      "description": "",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "history": {
                "type": "boolean"
              }
            }
          }
        },
        "customDomains": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "endpointId": {
                "type": "string"
              },
              "history": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "WafMetricsResponse": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "granularity": {
          "type": "string",
          "enum": [
            "PT5M",
            "PT1H",
            "P1D"
          ]
        },
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "metric": {
                "type": "string"
              },
              "unit": {
                "type": "string",
                "enum": [
                  "count"
                ]
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "value": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "WafRankingsResponse": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "groupValues": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "metrics": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "metric": {
                      "type": "string"
                    },
                    "value": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "profileNameParameter": {
      "name": "profileName",
      "in": "path",
      "description": "Name of the CDN profile which is unique within the resource group.",
      "required": true,
      "type": "string"
    }
  }
}