{
  "swagger": "2.0",
  "info": {
    "version": "2020-03-09-preview",
    "title": "CdnLogAnalytics",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "cdnloganalyticsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/metrics/{metricName}": {
      "get": {
        "tags": ["Log analytics"],
        "operationId": "LogAnalytics_Metrics_Get",
        "x-ms-examples": {
          "LogAnalytics_Metrics_Get": {
            "$ref": "./examples/LogAnalytics_Metrics_Get.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/MetricNameParameter"
          },
          {
            "$ref": "#/parameters/DateTimeBeginParameter"
          },
          {
            "$ref": "#/parameters/DateTimeEndParameter"
          },
          {
            "$ref": "#/parameters/GranularityParameter"
          },
          {
            "$ref": "#/parameters/ContinentParameter"
          },
          {
            "$ref": "#/parameters/CountryOrRegionParameter"
          },
          {
            "$ref": "#/parameters/EndpointParameter"
          },
          {
            "$ref": "#/parameters/CustomDomainParameter"
          },
          {
            "$ref": "#/parameters/ApplicationProtocolParameter"
          },
          {
            "$ref": "#/parameters/NetworkProtocolParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/MetricResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/rankings/{rankingName}": {
      "get": {
        "tags": ["Log analytics"],
        "operationId": "LogAnalytics_Rankings_Get",
        "x-ms-examples": {
          "LogAnalytics_Rankings_Get": {
            "$ref": "./examples/LogAnalytics_Rankings_Get.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/parameters/RankingNameParameter"
          },
          {
            "$ref": "#/parameters/DateTimeBeginParameter"
          },
          {
            "$ref": "#/parameters/DateTimeEndParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/RankingResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Cdn/continents": {
      "get": {
        "tags": ["Log analytics"],
        "operationId": "LogAnalytics_Continents_Get",
        "x-ms-examples": {
          "LogAnalytics_Continents_Get": {
            "$ref": "./examples/LogAnalytics_Continents_Get.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ContinentsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Cdn/continents/{continentName}/countryOrRegions": {
      "get": {
        "tags": ["Log analytics"],
        "operationId": "LogAnalytics_CountryOrRegions_Get",
        "x-ms-examples": {
          "LogAnalytics_CountryOrRegions_Get": {
            "$ref": "./examples/LogAnalytics_CountryOrRegions_Get.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/ContinentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/CountryOrRegionsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MetricResult": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "granularity": {
          "type": "string",
          "enum": [
            "PT5M",
            "PT1H",
            "P1D"
          ]
        },
        "unit": {
          "type": "string",
          "enum": [
            "",
            "%",
            "B",
            "bps"
          ]
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dateTime": {
                "type": "string",
                "format": "date-time"
              },
              "value": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "RankingResult": {
      "description": "",
      "properties": {
        "dateTimeBegin": {
          "type": "string",
          "format": "date-time"
        },
        "dateTimeEnd": {
          "type": "string",
          "format": "date-time"
        },
        "rankingBegin": {
          "type": "integer"
        },
        "rankingEnd": {
          "type": "integer"
        },
        "unit": {
          "type": "string",
          "enum": [
            "",
            "%",
            "B",
            "bps"
          ]
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ranking": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "value": {
                "type": "number"
              }
            }
          }
        }}
    },
    "ContinentsResult": {
      "description": "",
      "properties": {
        "continents": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "fallbackDisplayName": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "CountryOrRegionsResult": {
      "description": "",
      "properties": {
        "countryOrRegions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "fallbackDisplayName": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ProfileNameParameter": {
      "name": "profileName",
      "in": "path",
      "description": "Name of the CDN profile which is unique within the resource group.",
      "required": true,
      "type": "string"
    },
    "EndpointNameParameter": {
      "name": "endpointName",
      "in": "path",
      "description": "Name of the endpoint under the profile which is unique globally.",
      "required": true,
      "type": "string"
    },
    "MetricNameParameter": {
      "name": "metricName",
      "in": "path",
      "description": "Name of the metric for the CDN log analytics.",
      "required": true,
      "type": "string",
      "enum": [
        "userRequestCount"
      ]
    },
    "ContinentNameParameter": {
      "name": "continentName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "africa",
        "antarctica",
        "asia",
        "australia",
        "europe",
        "northAmerica",
        "southAmerica"
      ],
      "description": ""
    },
    "RankingNameParameter": {
      "name": "rankingName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "urls",
        "referrers"
      ],
      "description": ""
    },
    "DateTimeBeginParameter": {
      "name": "dateTimeBegin",
      "in": "query",
      "required": true,
      "type": "string",
      "format": "date-time",
      "description": "The beginning of the date time range in UTC."
    },
    "DateTimeEndParameter": {
      "name": "dateTimeEnd",
      "in": "query",
      "required": true,
      "type": "string",
      "format": "date-time",
      "description": "The end of the date time range in UTC."
    },
    "GranularityParameter": {
      "name": "granularity",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The granularity of the date time for each record.",
      "enum": [
        "PT5M",
        "PT1H",
        "P1D"
      ]
    },
    "ContinentParameter": {
      "name": "continent",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "The continent where the end users' requests are from. If it's specified, the countryOrRegion parameter must not be specified."
    },
    "CountryOrRegionParameter": {
      "name": "countryOrRegion",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "The country or region where the end users' requests are from. The word 'region' here doesn't mean Azure regions. If it's specified, the continent parameter must not be specified."
    },
    "EndpointParameter": {
      "name": "endpoint",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "The optional endpoint filter. If it's specified, the customDomain parameter must not be specified."
    },
    "CustomDomainParameter": {
      "name": "customDomain",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "The optional custom domain filter. If it's specified, the endpoint parameter must not be specified."
    },
    "ApplicationProtocolParameter": {
      "name": "applicationProtocol",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "",
      "enum": [
        "HTTP",
        "HTTPS"
      ]
    },
    "NetworkProtocolParameter": {
      "name": "networkProtocol",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "",
      "enum": [
        "IPv4",
        "IPv6"
      ]
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    }
  }
}
